
body{
      background-color: #BBBBBB;
}
    
    p{text-align: center; background-color: darkgray;

	}

	h1{ text-align: center; background-color: gray; color: darkred;

	}

	em{   color: orangered;

	}

	strong{
		color: darkred;
	}
header{  background-color: #BBBBBBBB;
       
}
nav li{
    margin: 0px 0px 0px 50px;
    display: inline;
}